<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container py-4">
      <div class="d-flex flex-row justify-content-between">
          <h1 class="my-4">Products</h1>
          <div class="d-flex align-items-center">
              <a class="btn btn-secondary" href="/add-product">Add Product</a>
          </div>
      </div>
    <div class="d-flex flex-row flex-wrap">
        {% for product in products %}
            <div class="d-flex flex-column justify-content-between border rounded mx-auto my-2 pb-1"
                 style="height: 380px; width: 320px;">
                <div>
                    <img src="/media/{{product.link}}" class="w-100" style="height: 170px;" />
                    <div class="p-3" style="height: 160px; overflow: hidden;">
                        <h4 class="mt-1">{{product.name}}</h4>
                        <p class="mt-2">{{product.description}}</p>
                    </div>
                </div>
                <div class="d-flex px-1">
                    <button class="btn btn-primary w-50 mx-1">Buy</button>
                    <button class="btn btn-danger w-50 mx-1">Sell</button>
                </div>
            </div>
        {% endfor %}
    </div>
  </div>
</body>
</html>